{#
/**
 * @file
 * Default theme implementation to display a project status and link.
 *
 * Available variables:
 * - link: The absolute link to the project on Drupal.org.
 * - status: Indicates if the module is installed.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div>{{ link }}</div>
  <div>{{ status }}</div>
</div>
